:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::after,
::before{
    margin: inherit;
    padding: inherit;
    box-sizing: inherit;
}

.main-container{ 
    background: rgb(186, 186, 231);
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
   font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 0;
}

.gameboards {
    flex-grow: 3;
    flex-shrink: 0;

    display: flex;
}

.gameboard-one {
    flex-grow: 1;
    border: 1px solid black;
}

.gameboard-two {
    flex-grow: 1;
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns */
    grid-template-rows: repeat(10, 1fr); /* 10 rows */
    width: 300px; /* Adjust this value according to your preference */
    height: 300px; /* Adjust this value according to your preference */
  }
  
  .container div {
    background-color: #ccc; /* Color of the small squares */
    border: 1px solid #000; /* Border for each small square */
  }